.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.login-form .input-wrap:first-child {
  margin-bottom: 20px;
}

.login-form .contained-button {
  margin-top: 43px;
}

.login-form .text-button {
  margin-top: 11px;
  text-align: end;
}

.input-wrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 45px;
}

.input-wrap .input {
  width: 100%;
  height: 100%;
  padding-left: 12px;
  display: flex;
  flex-direction: row;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 4px;
}

.input-wrap .input img {
  width: 20px;
  height: 20px;
  align-self: center;
  margin-right: 20px;
}

.input-wrap .input input {
  width: 100%;
  outline: none;
  border: none;
  background: transparent;
  font-family: Montserrat;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #fff;
  padding: 13px 0 12px 0;
}

.input-wrap .input input::placeholder {
  color: #fff;
  text-transform: uppercase;
}

@keyframes input-warning {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.input-wrap .warning {
  font-family: Montserrat;
  font-size: 14px;
  margin-top: 4px;
  color: #ff7377;
  animation: input-warning 0.5s;
}

.contained-button {
  width: 100%;
  height: 45px;
  outline: none;
  border: none;
  background: #ffffff;
  color: #2148c0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 16px;
}

.text-button {
  border: none;
  cursor: pointer;
  display: inline-block;
  padding: 0;
  margin: 0;
  font-family: Montserrat;
  font-weight: 500;
  font-size: 16px;
  background-color: inherit;
  color: #fff;
}

@media (max-width: 425px) {
  .login-form {
    width: 100%;
    min-width: 280px;
    padding: 0 20px;
  }
}

@media (min-width: 1280px) {
  .login-form {
    width: 450px;
  }
}
